body { 
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2d3e50;
    font-family: Arial, sans-serif;
}

.main-container {
    width: 350px;
    height: 700px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(12px);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4);
}

.inner-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow-y: scroll;
    padding-bottom: 20px;

    &::-webkit-scrollbar {
        width: 4px;
    }   
    
    &::-webkit-scrollbar-track {
        background:transparent;
    }

    &::-webkit-scrollbar-thumb{
        background-color: rgb(148, 147, 147);
        border-radius: 10px;
    }

}






